*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

/* Disable the text inflation algorithm */
html {
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

.menu-bar{
    width: 30px;
    height: 30px;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}


/* Enable smooth scrolling */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}